attrs==19.3.0
Automat==0.8.0
beautifulsoup4==4.8.2
bs4==0.0.1
cffi==1.14.0
constantly==15.1.0
contractions==0.0.24
cryptography==2.8
cssselect==1.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
joblib==0.14.1
lxml==4.5.0
nltk==3.4.5
numpy==1.18.1
parsel==1.5.2
Protego==0.1.16
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==2.0.0
pymongo==3.10.1
pyOpenSSL==19.1.0
queuelib==1.5.0
scikit-learn==0.22.2.post1
scipy==1.4.1
Scrapy==1.8.0
service-identity==18.1.0
six==1.14.0
sklearn==0.0
soupsieve==1.9.5
textsearch==0.0.17
Twisted==19.10.0
Unidecode==1.1.1
w3lib==1.21.0
zope.interface==4.7.1
