beautifulsoup4==4.8.2
bs4==0.0.1
click==7.1.1
contractions==0.0.24
dataclasses==0.6
decorator==4.4.2
dnspython==1.16.0
Flask==1.1.1
Flask-Login==0.5.0
Flask-MongoAlchemy==0.7.2
Flask-PyMongo==2.3.0
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
MongoAlchemy==0.19
networkx==2.4
nltk==3.4.5
numpy==1.18.2
pyahocorasick==1.4.0
pymongo==2.8
python-dotenv==0.12.0
scipy==1.4.1
six==1.14.0
soupsieve==2.0
textsearch==0.0.17
Unidecode==1.1.1
Werkzeug==1.0.0
