attrs==19.3.0
autocorrect==1.1.0
Automat==20.2.0
beautifulsoup4==4.8.2
bs4==0.0.1
cffi==1.14.0
click==7.1.1
constantly==15.1.0
contractions==0.0.24
cryptography==2.9.2
cssselect==1.1.0
dataclasses==0.6
decorator==4.4.2
dnspython==1.16.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-MongoAlchemy==0.7.2
Flask-PyMongo==2.3.0
Flask-SocketIO==4.3.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.1
MarkupSafe==1.1.1
MongoAlchemy==0.19
networkx==2.4
nltk==3.4.5
numpy==1.18.2
parsel==1.6.0
Protego==0.1.16
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==2.0.2
pymongo==2.8
pyOpenSSL==19.1.0
python-dotenv==0.12.0
python-engineio==3.12.1
python-socketio==4.5.1
queuelib==1.5.0
redis==3.5.2
scipy==1.4.1
Scrapy==2.1.0
service-identity==18.1.0
six==1.14.0
soupsieve==2.0
textsearch==0.0.17
Twisted==20.3.0
Unidecode==1.1.1
w3lib==1.22.0
Werkzeug==1.0.0
zope.interface==5.1.0
